@font-face {
  font-family: year-impact;
  src:
    url(../assets/fonts/impact-webfont.woff) format("woff2"),
    url(../assets/fonts/impact-webfont2.woff) format("woff");
}

@font-face {
  font-family: year-mont;
  src:
    url(../assets/fonts/mont-heavy.woff2) format("woff2"),
    url(../assets/fonts/mont-heavy2.woff) format("woff");
}

@font-face {
  font-family: year-hongmeng;
  src: url(../assets/fonts/inpin_hongmeng.ttf) format("truetype");
}

[lang="zh-cn"] {
  --font-css:
    "Helvetica neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei",
    "Arial", "sans-serif";
}

html[lang="zh-cn"] body {
  font-family: year-hongmeng, year-title, year-impact, year-mont, var(--font-css) !important;
}
